.chart {
  .title {
    font-size: 3rem;
    margin: 30px 0;
  }

  .link-chart {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .change-value-button {
    font-weight: bold;
    margin: 30px 0 10px;
  }
}
