.change-class
  .child-title(:class="fontColorClass") Change Class デモ
  el-button(@click="changeFontColor('red')") 赤色に変更
  el-button(@click="changeFontColor('yellow')") 黄色に変更
  el-button(@click="changeFontColor('normal')") 元に戻す
