.home {
  .title {
    font-size: 3rem;
    margin: 30px 0;
  }

  .ref-demo-text {
    font-size: 1.5rem;
  }

  .chart-title {
    font-size: 1.5rem;
  }

  .chart-area {
    margin-top: 50px;
  }
}
