.home
  .title(v-show="titleDisplay") {{ homeTitle }}
  el-row
    el-col(:span="12")
      clickEventComponent
    el-col(:span="12")
      changeEventComponent
  el-row
    el-col(:span="12")
      vShowComponent
    el-col(:span="12")
      vIfComponent
  el-row
    el-col(:span="12")
      vForComponent
    el-col(:span="12")
      vModelComponent
  el-row
    el-col(:span="12")
      emitComponent(v-on:changeTitleDisplay="changeTitleDisplay")
    el-col(:span="12")
      changeClassComponent
  el-row
    el-col(:span="12")
      propComponent(ref="propDemo", :prop-text="'Propで値を子Componentに渡す'", :prop-value="propValue")
    el-col(:span="12")
      refComponent(ref="refDemo", :ref-text="refInputText")
      el-row
        el-col(:span="10")
          el-input(v-model="refInputText" @change="changeRefInputText")
        el-col(:span="14")
          .ref-demo-text {{ refDemoText }}
